<h2>Welcome to your dashboard {{ blogposts.0 }}!</h2>

<section>
    <h2>My Posts</h2>
    {{#each blogposts as |post|}}
    <article>
        <h3>{{post.title}}</h3>
        <p>Posted by: {{post.user.username}}</p>
        
        {{!-- Iterate through comments array on each post --}}
        {{#each post.comments}} 
            <p>{{this.comment_text}}</p>
            {{!-- if no comments --}}
            {{else}}
            <p>Be the first to comment!</p>
        {{/each}}

    </article>
    {{/each}}
</section>

<section>
    <h2>Add a new post</h2>
    <a href="/dashboard/new">New Post</a>
</section>