<section>
    <h2>Recent Posts</h2>
    {{#each blogposts as |post|}}
    <article>
        <h3>{{post.title}}</h3>
        <p>Posted by: {{post.user.username}}</p>

        {{#with this.comment}}
        <p>{{comment_text}} / {{user.username}}</p>
        {{else}}
        <p>Be the first to comment!</p>
        {{/with}}
    </article>
    {{/each}}
</section>